body{
    background-image: url("../images/gtr.jpg");
    background-size: auto;
}
.car {
    background-color:turquoise; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  }
#buttonsView{
    width:100%;
}
#add-car{
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    color:black;
    background-color: red;
}
#add-car:hover{
    background-color: red;
    color:white;

}
  
  .car {
    background-color: white; 
    color: black; 
    border: 2px solid turquoise;
  }
  
  .car:hover {
    background-color: turquoise;
    color: white;
  }
#search{
    color: white;
    text-align: center;
}
.jumbotron{
    background: lightblue;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
#rate{
    color:white;
}